<div class="container mt-4">
    <h2 class="mb-4">Book Inventory</h2>

<div class="container mb-3 text-end">
  <a class="btn btn-primary mb-3" routerLink="/books/create">
    <i class="bi bi-plus-circle me-1"></i> Add New Book
  </a>
</div>

    <table class="table table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Price (₹)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.price | currency:'INR' }}</td>
                <td>
                    <button class="icon-button icon-view me-2" [routerLink]="['/books', book.id]" title="View"><i
                            class="bi bi-eye"></i></button>
                    <button class="icon-button icon-edit me-2" [routerLink]="['/books/edit', book.id]" title="Edit"><i class="bi bi-pencil"></i></button>
                    <button class="icon-button icon-delete" [routerLink]="['/books/delete', book.id]" title="Delete"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>